:root {
  --slope-angle: 40%; /* Adjust this value to tweak the angle */
}

body,
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
.container,
.row {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #f0f0f0;
}

p:not(.slogan),
.left,
h1,
.right,
.mainInfo {
  width: auto;
}

.welcome-text {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100; /* Semi Bold */
  font-size: 42pt; /* You can adjust the size as needed */
  text-align: right;
}

.welcome-text2 {
  font-family: 'Futura', sans-serif;
  font-weight: 10; /* Semi Bold */
  font-size: 24pt; /* You can adjust the size as needed */
  text-align: right;
}

.welcome-text3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 50; /* Semi Bold */
  font-size: 14pt; /* You can adjust the size as needed */
  text-align: right;
}

.container .row .left-wrap {
  padding-right: 0;
  padding-left: 0;
  -webkit-filter: drop-shadow(15px 0px 10px rgba(50, 50, 0, 0.5));
  filter: drop-shadow(15px 0px 10px rgba(50, 50, 0, 0.5));
}

.container .row .left-wrap .left {
  background-image: url(../img/249.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, var(--slope-angle) 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, var(--slope-angle) 100%, 0% 100%);
}

@media screen and (max-width: 576px) {
  .container .row .left-wrap .left {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}

.container .row .left-wrap .left p {
  font-family: "Muli", sans-serif;
  font-size: 3.5em;
  margin-right: 2em;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 576px) {
  .container .row .left-wrap .left p {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container .row .left-wrap .left p {
    font-size: 2.4em;
  }
}

.container .row .left-wrap .left p .small {
  vertical-align: text-top;
  font-size: 0.5em;
}

.right,
.mainInfo,
.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#logo-container {
  position: absolute;
  top: 50px;
  right: 75px;
}

#logo {
  max-width: 200px;
}

.center-content {
  position: fixed;
  top: 50%;
  left: 72.5%;
  transform: translate(-50%, -50%);
  text-align: justify;
  line-height: 1.5; /* Adjust line height for better readability */
  right: -20%;
}

.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-contact a img {
  width: 30px;
  height: 30px;
}

.social-contact form {
  display: flex;
  gap: 10px;
}

.social-contact form input {
  padding: 5px;
}

.social-contact form button {
  padding: 5px 15px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .center-content {
    position: static;
    transform: none;
    left: auto;
    top: auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    padding: 10px; /* Add padding to prevent the logo from touching the box edges */
    border-radius: 10px; /* Optional: to have rounded corners */
  }
  #logo-container {
    position: fixed;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    top: auto;
    background-color:  rgba(255, 255, 255, .75);;
  }
  #logo-container.sticky-bottom #logo {
    margin: 0 auto;
  }
  .welcome-text {
    font-size: 30pt; /* Adjust the size as needed */
    text-align: center;
  }

  .welcome-text2 {
    font-size: 18pt; /* Adjust the size as needed */
    text-align: center;
  }

  .welcome-text3 {
    font-size: 12pt; /* Adjust the size as needed */
    text-align: center;
  }
  .social-contact {
    padding-bottom: 300px;
  }
}
